
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4"  style="margin-top: 5%;" *ngFor="let num of ['./../../../assets/vivien.jpg','./../../../assets/seb.jpg','./../../../assets/pierre.png']">
      <mat-card>
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{num}} alt="photo">
        <mat-card-content>
          <p>My Pub App Application Designer</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="mailto:marc.petitdemange57@gmail.com">CONTACTER</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
