<div class="container" style="margin-top: 20px;">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-5">
      <div #chart echarts [options]="chartOptionCountry" [theme]="theme" (chartInit)="onChartCountryInit($event)" class="demo-chart"></div>
    </div>
    <div class="col-md-5">
      <div #chart echarts [options]="chartOptionType" [theme]="theme" (chartInit)="onChartTypeInit($event)" class="demo-chart"></div>
    </div>
  </div>
  <div class="row col">
    <div #chart echarts [options]="chartOptionCateg" [theme]="theme" (chartInit)="onChartCategInit($event)" class="demo-chart"></div>
  </div>
</div>
