<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/accueil']">
        <span class="full-width">{{'Accueil'}}</span>
        <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-house"></mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/tableau']">
        <span class="full-width">{{'Tableau'}}</span>
        <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-table"></mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/graph']">
        <span class="full-width">{{'Graphe'}}</span>
        <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-chart-column"></mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/contact']">
        <span class="full-width">{{ 'Contact' }}</span>
        <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-circle-question"></mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="sidenav_container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
