<div class="container">
  <div class="row align-items-center justify-content-center" style="margin-top: 5%;">
    <mat-form-field class="col-md-7">
      <input matInput placeholder="Rechercher une bière par son nom ..." [(ngModel)]= "search">
      <button matSuffix mat-button (click)="submit()"><mat-icon>search</mat-icon></button>
    </mat-form-field>
  </div>
  <div *ngFor="let beer of beers" class="row align-items-center justify-content-center">
    <carte class="col-md-7" [beer]="beer"></carte>
  </div>
</div>

    

